body{
    margin: 0;
    padding: 0;
    background: #e9ecef;
}
.message-container {
    max-width: 600px;
    width: 100%;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

header {
    background: linear-gradient(135deg, #004080, #003366);
    color: white;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 20px;
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-menu ul li {
    display: inline;
    margin: 0 15px;
}

.nav-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}

.nav-menu ul li a.active, .nav-menu ul li a:hover {
    color: #cce7ff;
}

h2 {
    color: #333;
}
.message-container{
    margin: 10vh;
}

select, textarea {
    width: calc(100% - 22px);
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    background: #f9f9f9;
    transition: border-color 0.3s ease;
}

select:focus, textarea:focus {
    border-color: #004080;
    outline: none;
    background: #fff;
}

textarea {
    resize: vertical;
}

.cta-button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #004080, #003366);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.cta-button:hover {
    background: linear-gradient(135deg, #003366, #002244);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
